@import url("https://fonts.googleapis.com/css2? family= Noticia+Text:wght@400;700 & family= Poppins:wght@300;800 & display=swap");
h1, h2, h3, h4, h5, h6, p, header, ul, li, a {
  font-family: "poppins";
}

.button-green {
  background-color: green;
  color: white;
  padding: 10px 25px;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-content: space-around;
}

.button-black {
  background-color: black;
  color: white;
  padding: 10px 25px;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-content: space-around;
}

.button-red {
  background-color: red;
  color: white;
  padding: 10px 25px;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-content: space-around;
}

header {
  background-color: #2e6b50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  header {
    font-size: 10px;
    padding: 4px;
  }
}
header img {
  width: 80px;
}
header ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 576px) {
  header ul {
    font-size: 10px;
    padding: 4px;
  }
}
header li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  padding: 0px 12px;
}
@media (max-width: 576px) {
  header li a {
    font-size: 10px;
    padding: 4px;
  }
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #000000;
}

h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

h4 {
  font-weight: 1000;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

h6 {
  font-weight: 1000;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  background-color: #2e6b50;
  border-radius: 8px;
}
@media (max-width: 576px) {
  h2 {
    font-size: 20px;
  }
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 576px) {
  h1 {
    font-size: 25px;
  }
}

h5 {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 30px;
  color: #000000;
  background-color: #2e6b50;
  font-weight: 800;
}

footer {
  background-color: #2e6b50;
  text-align: center;
}
footer a {
  padding: 0px 18px;
  display: inline-block;
}

footer img:hover {
  transform: scale(1.15, 1.15);
}

.Sub h1 {
  background-color: #000000;
  color: #ffffff;
}

.Subtitulo {
  background-image: url(../imagenes/plantita.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.Subtitulo img {
  flex: 1;
}

#Algunosdenuestrosjugos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.OtroProduc {
  margin: 12px;
}

.conoceMasdeNuestrosJugos {
  text-align: center;
  margin: 0px;
}

#Algunosdenuestrosjugos img:hover {
  transform: scale(1.15, 1.15);
  border-radius: 10px;
}

#JugosDeFrutas {
  text-align: center;
  margin: 12px;
}

#JugosDeRaiz {
  text-align: center;
  margin: 12px;
}

#JugosVerdes {
  text-align: center;
  margin: 12px;
}

#OtrosProductos {
  display: flex;
  flex-direction: row;
  margin: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

#JugosDeFrutas img:hover {
  transform: scale(1.15, 1.15);
  border-radius: 10px;
}

#JugosDeRaiz img:hover {
  transform: scale(1.15, 1.15);
  border-radius: 10px;
}

#JugosVerdes img:hover {
  transform: scale(1.15, 1.15);
  border-radius: 10px;
}

#OtrosProductos img:hover {
  transform: scale(1.15, 1.15);
  border-radius: 10px;
}

.Caja1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Caja1 article {
  padding: 100px;
  margin: 5px;
}
.Caja1 article a {
  color: #ffffff;
  background-color: #2e6b50;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  padding: 12px 12px;
  margin: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.Caja1 article img {
  border-radius: 10px;
}

.btn-primary {
  background-color: #90ee90;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-content: space-around;
}
.btn-primary:hover {
  background-color: #008000;
}

.button-black:hover {
  transform: scale(1.15, 1.15);
}

.button-green:hover {
  transform: scale(1.15, 1.15);
}

.button-red:hover {
  transform: scale(1.15, 1.15);
}

.btn-primary:hover {
  transform: scale(1.15, 1.15);
}

.Caja1 img:hover {
  transform: scale(1.15, 1.15);
}

.card-group {
  margin: 10px;
}

.card {
  background-color: #2e6b50;
  padding: 20px;
  border-radius: 8px;
  color: #000000;
  text-align: left;
  margin: 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 450px;
  margin: 10px;
  padding: 50px;
  border-radius: 60px;
}

.card-title {
  font-size: 30px;
  color: #000000;
  background-color: #2e6b50;
  font-weight: 800;
}

.Producto {
  margin: 12px;
}

.Mapa {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Contactos {
  display: flex;
  flex-direction: column-reverse;
}

.boos .mb-3 {
  margin: 50px;
  padding: 5px;
  font-family: "poppins";
  color: #ffffff;
}

.container {
  background-color: #000000;
}

.col-6 {
  padding: 12px;
  margin: auto;
}

.col-6-1 {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.col-6-1 a {
  margin: 5px;
  padding: 20px;
}

.mb-3enviar {
  background-color: #90ee90;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 10%;
}

.mb-3enviar:hover {
  transform: scale(1.15, 1.15);
}

.col-6-1 img:hover {
  transform: scale(1.15, 1.15);
}

@media (max-width: 576px) {
  .paquetes {
    font-size: 25px;
  }
  .Caja1 img {
    width: 250px;
  }
  .Caja1 article {
    padding: 15px;
    margin: 50px;
  }
  .NuestrosJ {
    display: none;
  }
  h5 {
    display: none;
  }
  #JugosDeFrutas img {
    width: 200px;
    padding: 8px;
  }
  #JugosDeRaiz img {
    width: 200px;
    padding: 8px;
  }
  #JugosVerdes img {
    width: 200px;
    padding: 8px;
  }
  .form-control {
    width: 140px;
  }
  .col-6 {
    margin: auto;
  }
  .col-6 p {
    display: none;
  }
  img {
    margin: auto;
  }
  .logo img {
    display: flex;
    justify-content: flex-start;
  }
  iframe {
    width: 350px;
  }
}

/*# sourceMappingURL=app.css.map */
