*{
    margin: 0%;
    padding: 0%;
    font-family:'Poppins', sans-serif;
}
body{
background-color:black;
    
}

.Sub h1{
background-color: black;
color: white;
}

.Subtitulo{
background-image: url(../imagenes/plantita.jpg);
background-size: cover;
background-repeat: no-repeat;
font-weight: bold;   
display: flex;
align-items: center;
}


h4,h6{
    font-weight:1000;
    text-align:center;
    font-size: 30px;
    color:white;
    
}
.Subtitulo img{
    flex: 1;
}


#Algunosdenuestrosjugos{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}
   
    .OtroProduc{
        margin: 12px;
    }
    
.conoceMasdeNuestrosJugos{
    text-align: center;
    margin: 0px;
}

#JugosDeFrutas{
    text-align: center;
    margin: 12px;
    
}
#JugosDeRaiz{
    text-align: center;
    margin: 12px;
}
#JugosVerdes{
    text-align: center;
    margin: 12px;
}
header{
   
    background-color:2d6a4f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center
}

header img{
    width: 80px;
}

header ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
   }
   
   header li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 0px 12px;
}

   #OtrosProductos{
    display: flex;
    flex-direction: row;
    margin: 12px;
    flex-wrap:wrap;
    justify-content: center;
   }
   
   .Producto{
    margin: 12px;
   }

 p{
font-size: 18px;
text-align:center; 
color: white;  
}

h2{
    text-align: center;
    font-size:25px;
    color:white;
    background-color: 2d6a4f;
    border-radius: 8px;
}
    
h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    background-color:black;
    color:white
}


h5{
    text-align: center;
    background-color: black;
    color: white;
}

.Img{
    display: flex;
    justify-content: end;
}

.Caja1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Caja1 article{
    padding: 100px;
    margin: 5px;
   }

.Caja1 article a{
    color: aliceblue;
    background-color:2d6a4f;
    border-radius:10px;
    font-size: 16px;
    text-align: center;
    padding: 12px 12px;
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.btn-primary{
    background-color: lightgreen;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    margin: auto;
    cursor: pointer;
    display: flex;
    align-content:space-around

}
.btn-primary:hover{
    background-color: green;
}
/*media query mobile*/

@media (max-width:576px){
   
    .header, ul, li, a{ 
     font-size: 8px;
     padding: 2px;
    
    }
   .paquetes, h1{
    font-size: 25px;
    
    }

    .Caja1 img{
        width:250px;
    }
    .Caja1 article{
        padding: 15px;
        margin: 50px;
    }
   
    }
    @media (max-width:576px){

        .NuestrosJ,h5{
            display: none;
        }
        #JugosDeFrutas img{
            width: 200px;
        }
        #JugosDeRaiz img{
            width: 200px;
        }
        #JugosVerdes img{
            width: 200px;
        }
    }
    @media (max-width:576px){
        .form-control{
            width: 170px;
        }
        .col-6 p{
            display: none;
        }
        .col-6, img{
         margin: auto;
        }
        .logo img{
            display: flex;
            justify-content: flex-start;
        }
     }
    /*media query mobile*/
     
    .card-group{
        margin: 10px;
    }

    .card{
        background-color:2d6a4f;
        padding: 20px;
        border-radius: 8px; 
        color:black;
        text-align: left;
        margin:0px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img{
        width: 450px;
        margin:10px;
        padding: 50px;
        border-radius:60px;
    }
    .card-title, h5{
       font-size: 30px;
       color:black;
       background-color:2d6a4f; 
       font-weight: 800;
    }
    


.Mapa{
    width:100%;
    display: flex;
    justify-content: center;
   }

   .Contactos{
    display: flex;
    flex-direction:column-reverse
   }




footer{
    background-color:2d6a4f ;
    display: flex;
    justify-content: space-evenly;
    }
    
    .RedesSociales{
      padding:5px;
      margin: 5px;
      display: flex;
      
    }
      


.boos .mb-3{
    margin: 50px;
    padding: 5px;
    font-family:'Poppins', sans-serif;
   color: white
   
  
}

.container{
    background-color: black;
}

.col-6{
    padding: 12px;
    
 }


.col-6 p{
    font-size: 18px;
    padding:15px;
    color: white
    }
    .col-6 a{
       padding: 15px;
       display: flex;
       text-decoration: none;
    }



.mb-3enviar{
    
    background-color: lightgreen;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    margin:10%;
}
