$color_1: #ffffff;
$color_2: #f0f8ff;
$color_3: #000000;
$font-family_1: 'Poppins', sans-serif;
$background-color_1:#000000;
$background-color_2: #2d6a4f;
$background-color_3: #90ee90;
$background-color_4: #008000;


* {
	margin: 0%;
	padding: 0%;
	font-family: $font-family_1;
}
body {
	background-color: $background-color_1;
}
.Sub {
	h1 {
		background-color: $background-color_1;
		color: $color_1;
	}
}
.Subtitulo {
	background-image: url(../imagenes/plantita.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: bold;
	display: flex;
	align-items: center;
	img {
		flex: 1;
	}
}
header {
	background-color: $background-color_2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	img {
		width: 80px;
	}
	ul {
		list-style-type: none;
		margin: 0%;
		padding: 0%;
		display: flex;
		flex-direction: row;
	}
	li {
		a {
			text-decoration: none;
			color: $color_1;
			font-weight: bolder;
			padding: 0px 12px;
		}
	}
}
h3 {
	font-size: 25px;
	color: $color_1;
	font-weight: 300;
	text-align: center;
}
h4 {
	font-weight: 1000;
	text-align: center;
	font-size: 30px;
	color: $color_1;
}
h6 {
	font-weight: 1000;
	text-align: center;
	font-size: 30px;
	color: $color_1;
}
#Algunosdenuestrosjugos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.OtroProduc {
	margin: 12px;
}
.conoceMasdeNuestrosJugos {
	text-align: center;
	margin: 0px;
}
#JugosDeFrutas {
	text-align: center;
	margin: 12px;
}
#JugosDeRaiz {
	text-align: center;
	margin: 12px;
}
#JugosVerdes {
	text-align: center;
	margin: 12px;
}

#OtrosProductos {
	display: flex;
	flex-direction: row;
	margin: 12px;
	flex-wrap: wrap;
	justify-content: center;
}
.Producto {
	margin: 12px;
}
p {
	font-size: 18px;
	text-align: center;
	color: $color_1;
}
h2 {
	text-align: center;
	font-size: 25px;
	color: $color_1;
	background-color: $background-color_2;
	border-radius: 8px;
}
h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	background-color: $background-color_1;
	color: $color_1;
}
h5 {
	text-align: center;
	background-color: $background-color_1;
	color: $color_1;
	font-size: 30px;
	color: $color_3;
	background-color: $background-color_2;
	font-weight: 800;
}
.Img {
	display: flex;
	justify-content: end;
}
.Caja1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	article {
		padding: 100px;
		margin: 5px;
		a {
			color: $color_2;
			background-color: $background-color_2;
			border-radius: 10px;
			font-size: 16px;
			text-align: center;
			padding: 12px 12px;
			margin: 10px;
			text-decoration: none;
			display: flex;
			justify-content: center;
		}
	}
}
.btn-primary {
	background-color: $background-color_3;
	color: $color_1;
	padding: 10px 25px;
	border-radius: 8px;
	margin: auto;
	cursor: pointer;
	display: flex;
	align-content: space-around;
	&:hover {
		background-color: $background-color_4;
	}
}
.card-group {
	margin: 10px;
}
.card {
	background-color: $background-color_2;
	padding: 20px;
	border-radius: 8px;
	color: $color_3;
	text-align: left;
	margin: 0px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 450px;
		margin: 10px;
		padding: 50px;
		border-radius: 60px;
	}
}
.card-title {
	font-size: 30px;
	color: $color_3;
	background-color: $background-color_2;
	font-weight: 800;
}
.Mapa {
	width: 100%;
	display: flex;
	justify-content: center;
}
.Contactos {
	display: flex;
	flex-direction: column-reverse;
}
footer {
	background-color: $background-color_2;
	text-align:center;
	
    a {
		padding: 0px 18px;
		display: inline-block;
	}
}
.boos {
	.mb-3 {
		margin: 50px;
		padding: 5px;
		font-family: $font-family_1;
		color: $color_1;
	}
}
.container {
	background-color: $background-color_1;
}
.col-6 {
	padding: 12px;
	p {
		font-size: 18px;
		padding: 15px;
		color: $color_1;
	}
	a {
		padding: 15px;
		display: flex;
		text-decoration: none;
	}
}
.mb-3enviar {
	background-color: $background-color_3;
	color: $color_1;
	padding: 5px 10px;
	border-radius: 8px;
	margin: 10%;
}
/*media query mobile*/

@media (max-width:576px) {
	.header {
		font-size: 8px;
		padding: 2px;
	}
	ul {
		font-size: 8px;
		padding: 2px;
	}
	li {
		font-size: 8px;
		padding: 2px;
	}
	a {
		font-size: 8px;
		padding: 2px;
	}
	.paquetes {
		font-size: 25px;
	}
	h1 {
		font-size: 25px;
	}
	.Caja1 {
		img {
			width: 250px;
		}
		article {
			padding: 15px;
			margin: 50px;
		}
	}
	.NuestrosJ {
		display: none;
	}
	h5 {
		display: none;
	}
	#JugosDeFrutas {
		img {
			width: 200px;
			padding: 8px;
		}
	}
	#JugosDeRaiz {
		img {
			width: 200px;
			padding: 8px;
		}
	}
	#JugosVerdes {
		img {
			width: 200px;
			padding: 8px;
		}
	}
	.form-control {
		width: 140px;
	}
	.col-6 {
		p {
			display: none;
		}
		margin: auto;
	}
	img {
		margin: auto;
	}
	.logo {
		img {
			display: flex;
			justify-content: flex-start;
		}
	}
	iframe {
		width: 350px;
	}
	h6 {
		font-size: 16px;
	}
	h2 {
		font-size: 20px;
	}
}
/*media query mobile*/