.Mapa {
	width: 100%;
	display: flex;
	justify-content: center;
}
.Contactos {
	display: flex;
	flex-direction: column-reverse;
}
.boos {
	.mb-3 {
		margin: 50px;
		padding: 5px;
		font-family: 'poppins';
		color: $color_1;
	}
}
.container {
	background-color: $background-color_1;
}
.col-6 {
	padding: 12px;
	margin: auto;
	width: 80%;
}

.col-6-1{
    padding: 10px;
    display: flex;
    justify-content: center;
	a{
		margin: 5px;
		padding:20px
	}
}
.mb-3enviar {
	background-color: $background-color_3;
	color: $color_1;
	padding: 5px 10px;
	border-radius: 8px;
	margin: 10px;
	position: absolute;
	
}
label .form-label{
	font-family: 'poppins';
}
.mb-3enviar:hover{
	transform: scale(1.15, 1.15);
}
.col-6-1 img:hover{
	transform: scale(1.15, 1.15);
}