#JugosDeFrutas {
	text-align: center;
	margin: 14px;
	img{
		padding:8px
	}
}

#JugosDeRaiz {
	text-align: center;
	margin: 14px;
	img{
		padding:8px
	}
}
#JugosVerdes {
	text-align: center;
	margin: 14px;
	img{
		padding:8px
	}
}

#OtrosProductos {
	display: flex;
	flex-direction: row;
	margin: 12px;
	flex-wrap: wrap;
	justify-content: center;
}

#JugosDeFrutas img:hover{
	transform: scale(1.15, 1.15);
	border-radius: 10px;
}
#JugosDeRaiz img:hover{
	transform: scale(1.15, 1.15);
	border-radius: 10px;
}
#JugosVerdes img:hover{
	transform: scale(1.15, 1.15);
	border-radius: 10px;
}
#OtrosProductos img:hover{
	transform: scale(1.15, 1.15);
	border-radius: 10px;
}
.NuestrosJ{
	padding: 18px;
}
