.Caja1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	article {
		padding: 100px;
		margin: 5px;
		a {
			color: $color_2;
			background-color: $background-color_2;
			border-radius: 20px;
			font-size: 16px;
			text-align: center;
			padding: 12px 12px;
			margin: 10px;
			text-decoration: none;
			display: flex;
			justify-content: center;
		}
		img{
			border-radius: 10px;
		}
	}
}
.btn-primary {
	background-color: $background-color_3;
	color: $color_1;
	padding: 10px 25px;
	border-radius: 8px;
	margin: auto;
	cursor: pointer;
	display: flex;
	align-content: space-around;
	&:hover {
		background-color: $background-color_4;
	}
}

.button-black:hover{
	transform: scale(1.15, 1.15);
}
.button-green:hover{
	transform: scale(1.15, 1.15);
}
.button-red:hover{
	transform: scale(1.15, 1.15);
}
.btn-primary:hover{
	transform: scale(1.15, 1.15);
}
.Caja1 img:hover{
	transform: scale(1.15, 1.15);
}