

@media (max-width:576px) {
	.header {
		font-size: 8px;
		padding: 2px;
	}
	ul {
		font-size: 8px;
		padding: 2px;
	}
	li {
		font-size: 8px;
		padding: 2px;
	}
	a {
		font-size: 8px;
		padding: 2px;
	}
	.paquetes {
		font-size: 25px;
	}
	h1 {
		font-size: 25px;
	}
	.Caja1 {
		img {
			width: 250px;
		}
		article {
			padding: 15px;
			margin: 50px;
		}
	}
	.NuestrosJ {
		display: none;
	}
	h5 {
		display: none;
	}
	#JugosDeFrutas {
		img {
			width: 200px;
			padding: 8px;
		}
	}
	#JugosDeRaiz {
		img {
			width: 200px;
			padding: 8px;
		}
	}
	#JugosVerdes {
		img {
			width: 200px;
			padding: 8px;
		}
	}
	.form-control {
		width: 140px;
	}
	.col-6 {
		p {
			display: none;
		}
		margin: auto;
	}
	img {
		margin: auto;
	}
	.logo {
		img {
			display: flex;
			justify-content: flex-start;
		}
	}
	iframe {
		width: 350px;
	}
	h6 {
		font-size: 16px;
	}
	h2 {
		font-size: 20px;
	}
}